[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
flask = "*"
gunicorn = "*"
fastapi = "*"
waitress = "*"
jupyter = "*"
pywin32 = "*"
xgboost = "*"
hyperopt = "*"
pandas = "*"
seaborn = "*"
bentoml = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9.12"
